form.form.form_hidden
	.form__header-block.clearfix
		.form__header-stick
		h3.form__header Заказать обратный звонок
		.form__header-stick
	.form-inputs
		input(value="Форма главного экрана" type="hidden")
		input(placeholder="Имя").form__input
		input(placeholder="Телефон").form__input
	button(type="submit").form__button ЗАКАЗАТЬ!