section(id="top").section.section_firstscreen
	.container.container_firstscreen
		.section__text-block
			h1.section__header.section__header_firstscreen 
			h3.section__description.section__description_firstscreen 
			button.button-cta.button-cta_firstscreen.modalCall 
	a.section__link.nav__link(href="#")
		img(src="", alt="" ).button-down