footer.footer
	.footer-container
		.footer__block.footer__block_logo
			p.footer__text_bold &#169; 2016 
		.footer__block.footer__block_address
			p.footer__text_bold 
			a(href="#").footer__text_regular 
		.footer__block.footer__block_phone
			a(href="#").footer__text_bold 