h2.section__header.section__header_form 
form.form(method="POST")
	.form__header-block.clearfix
		.form__header-stick
		h3.form__header Закажите прямо сейчас
		.form__header-stick
	.form-inputs
		input(value="Форма Полировка" type="hidden"  name="form-name")
		input(placeholder="Имя" name="name").form__input
		input(placeholder="Телефон"  name="tel").form__input
	button(type="submit").form__button ЗАКАЗАТЬ!