<!DOCTYPE html>
html(lang="Ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(name="viewport" content="width=1170")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="bower/normalize-css/normalize.css")
		title
			block title

	body
		block content
		
